.game {
    margin: 1rem;  
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.gameArea {
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.steps {
    height: 180px;
    margin-left: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(86, 216, 86);
}
.oneStep {
    width: 30px;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.oneCard {
    border: 1px solid rgb(86, 216, 86);
    margin: 1px;
}
.active {
    background-color: rgb(178, 250, 178);
    background-color: rgb(104, 189, 119);
    background-color: rgb(65, 153, 85);
    background-color: rgb(40, 195, 70);
    background-color: rgb(28, 175, 60);
    background-color: rgb(35, 155, 50);
    background-color: rgb(16, 135, 40);
    background-color: rgb(10, 115, 30);
    background-color: rgb(11, 95, 20);
    background-color: rgb(10, 75, 10);
}
