.game {
    margin: 1rem;  
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.gameArea {
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.steps {
    height: 180px;
    margin-left: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(128, 128, 219);
}
.oneStep {
    width: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.oneCard {
    margin: 1px;
    border: 1px solid rgb(128, 128, 219);
}
.gameAreaAndLevels {
    display: flex;
}
