.OptionsStepsGame {
    display: flex;
    padding: 5px 0px;
}
.OptionsStepsGame .input{
    display: flex;
    justify-content: center;
    z-index: 10;
}
.subTitle {
    transform: rotateZ(-90deg);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.OptionsStepsGame .input label {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input label input {
    margin-right: .5rem;
}

.OptionsStepsGame .input label span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    width: 2rem;
}