.selectionSection {
	border-bottom: 2px solid white;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin: 2rem 2rem;
}
.options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 5px;
}
.titleSelectSection {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateZ(-90deg);
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	text-transform: uppercase;
	color: white;
}
