.gameActions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}
.gameActions button {
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0.3rem 2rem;
}