.gameSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.oneGameSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.oneGameSection h6 {
	transform: rotateZ(-90deg);
	color: white;
	font-size: 1.6rem;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
    height: auto;
}
.oneGameSection:last-child h6::after {
	content: "task";
    margin-left: 1rem;
}
.gameOverInformation {
	color: white;
	height: 2rem;
}
@media screen and (min-width: 767px) {
	.allGameSection {
		display: flex;
	}
    .oneGameSection {
        flex-direction: column;
        margin: 1rem 2rem;
    }
    .oneGameSection h6 {
        transform: rotateZ(0deg);
    }
}