.gameSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.oneGameSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.oneGameSection h6 {
    transform: rotateZ(-90deg);
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
}