.app {
  position: relative;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSection {
  background-color: rgba(19, 15, 32, 0.664);
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 2px 2px 5px white;
  border-radius: 15px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .mainSection{
    transform: scale(1.3);
  }
}